@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;600&display=swap');

*, ::after {
    box-sizing: border-box;
}

:root {
    --color-1: #F5E9CF;
    --color-2: #7DB9B6;
    --color-3: #E96479;
    --color-4: #4D455D;

    --color-bg-main: #7db9b60f;
    --svg-location: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23F5E9CF" viewBox="0 0 100 100"><path d="M79.535 27.4c-.32-1.201-.971-2.48-1.452-3.6C72.324 9.96 59.741 5 49.581 5 35.98 5 21 14.12 19 32.919v3.841c0 .16.055 1.6.134 2.32 1.121 8.959 8.19 18.48 13.47 27.439 5.68 9.599 11.574 19.041 17.415 28.479 3.6-6.159 7.188-12.399 10.707-18.399.959-1.761 2.071-3.521 3.031-5.201.64-1.119 1.862-2.238 2.421-3.279C71.857 57.722 81 47.24 81 36.92v-4.24c0-1.119-1.387-5.039-1.465-5.28M49.83 46.68c-3.998 0-8.374-1.999-10.534-7.52-.322-.879-.296-2.64-.296-2.801v-2.48c0-7.038 5.976-10.239 11.175-10.239 6.4 0 11.351 5.121 11.351 11.521S56.23 46.68 49.83 46.68"/></svg>');
    --svg-location-hover: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%237DB9B6" viewBox="0 0 100 100"><path d="M79.535 27.4c-.32-1.201-.971-2.48-1.452-3.6C72.324 9.96 59.741 5 49.581 5 35.98 5 21 14.12 19 32.919v3.841c0 .16.055 1.6.134 2.32 1.121 8.959 8.19 18.48 13.47 27.439 5.68 9.599 11.574 19.041 17.415 28.479 3.6-6.159 7.188-12.399 10.707-18.399.959-1.761 2.071-3.521 3.031-5.201.64-1.119 1.862-2.238 2.421-3.279C71.857 57.722 81 47.24 81 36.92v-4.24c0-1.119-1.387-5.039-1.465-5.28M49.83 46.68c-3.998 0-8.374-1.999-10.534-7.52-.322-.879-.296-2.64-.296-2.801v-2.48c0-7.038 5.976-10.239 11.175-10.239 6.4 0 11.351 5.121 11.351 11.521S56.23 46.68 49.83 46.68"/></svg>');

    /* 24px - 18px */
    --font-size-1: min(1.5rem, max(1.12rem, 4vw));

    /* 40px - 20px */
    --padding-1: min(2.5rem, max(1.25rem, 4vw));
   
    /* 32px - 16px */
    --padding-2: min(2rem, max(1rem, 4vw));
    
    /* 20px - 10px */
    --padding-3: min(1.25rem, max(0.62rem, 3vw));

    /* 65px - 25px */
    --padding-4: min(4rem, max(1.56rem, 6vw));
}

body, p {
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
    color: var(--color-1);
    font-size: 14px;
}
body {
    background-color: var(--color-bg-main);
    height: 100vh;
}


.container {
    max-width: 960px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(400px, 250px), 1fr));
    gap: 20px 12px;
    padding-inline: var(--padding-3);
}

p.intro-footer a {
    font-style: normal;
    font-weight: 600;
    color: var(--color-3);
    transition: color 300ms;
}

.intro-location a {
    padding-left: 20px;
    font-size: 12px;
    color: var(--color-1);
    background: no-repeat var(--svg-location);
    background-position: left;
    transition: background 300ms, color 300ms;
}


.intro-location a:hover {
    color: var(--color-2);
    background: no-repeat var(--svg-location-hover);
}

.intro-footer a:hover {
    color: var(--color-2);
}


nav .container {
    padding-top: var(--padding-4);
    padding-bottom: 10px;
    display: flex;
}

.intro {
    background-color: var(--color-4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--padding-1) var(--padding-2);
    flex: 1;
    border-radius: 4px 0px 0px 4px;
}

.intro-heading {
    margin: 0;
    font-size: 18px;
    padding-bottom: 1rem;
}

.intro-body {
    padding-bottom: 0.8rem;
}

.intro-footer {
    padding-bottom: 0.6rem;

}

.intro-location {
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

figure.img-wrapper {
    margin: 0;
    border-radius: 0px 4px 4px 0px;
    position: relative;
    display: inline-block;
}

figure.img-wrapper::after {
    content: '';
    position: absolute;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 100%;
    color: white;
    transition: background 1000ms;
}

figure.img-wrapper[data-hover]:hover::after {
    content: attr(data-hover);
  background: #0000009f;
  color: var(--color-1);
}

.intro-img {
    border-radius: 0px 4px 4px 0px;
    height: 100%;
    width: 100%;
}

.projects-title {
    margin: 0;
    padding-block: 12px;
    font-size: var(--font-size-1);
    color: var(--color-4);
    width: 100%;
    background: #7db9b60f;
    border: 1px solid #4d455d40;
    border-inline: none;
    box-shadow: 0px 6px 10px #00000017;
    text-align: center;
}

main .container {
    padding-top: 10px;
    padding-bottom: var(--padding-1);
}

.card {
    background-color:var(--color-4);
    border-radius: 4px;
    padding: 5px;
    position: relative;
    display: flex;
    align-items: center;
}

.card img {
    border-radius: 5px;
    width: 100%;
    height: auto;
}

.card .overlay {
    position: absolute;
    inset: 0;
    opacity: 0;
    background: black;
    border-radius: 4px;
    transition: opacity 700ms;

}

.card-body p {
    visibility: hidden;
    padding-inline: 30px;
}

.card-body a {
    height: 40px;
    width: 65%;
    background: var(--color-2);
    color: var(--color-1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card:hover .overlay {
    opacity: 0.7;
}
.card-body {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    overflow: hidden;
}

.card-body :nth-child(2) {
    align-self: flex-start;
    translate: -600px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: translate 200ms;
}

.card-body :nth-child(3) {
    align-self: flex-end;
    translate: 600px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    transition: translate 300ms;
}

.card:hover p {
    visibility: visible;
}

.card:hover a {
    translate: 0;
}

/* .card-body::before {
    content: "";
    background: black;
    opacity: 0;
    position: absolute;
    inset: 0;
    border-radius: 4px;
    opacity: 0;
    z-index: -1;
    transition: opacity 700ms;
} */





em {
    font-style: normal;
    font-weight: 600;
    color: var(--color-3);
}

@media (max-width: 500px) {
    .intro-img {
        display: none;
    }
}

