@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    /* Colors */
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

body {
    margin: 0;
    background-color: var(--light-gray);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 20rem;
    text-align: center;
    background-color: var(--white);
    padding-block: 1rem;
    padding-inline: 1rem;
    border-radius: 1rem;
}

.container img {
    border-radius: 0.75rem;
    max-width: 100%;
}

.container h1,
.container p {
    margin: 0.75rem;
}

.container h1 {
    font-size: 1.15rem;
    font-weight: 700;
}

.container p {
    color: var(--grayish-blue)
}

/* Mobile: 375px
Desktop: 1440px */
