@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
.card-image-desktop {
    display: none;
}

:root {
    --main-bg: hsl(233, 47%, 7%);
    --card-bg: hsl(244, 38%, 16%);
    --accent: hsl(277, 64%, 61%);

    --padding-responsive-md:  min(2rem, 10vw);
    --padding-responsive-sm:  min(0.5rem, 3vw);
    --margin-responsive-md: min(2rem, 10vw);

    /* 400 | 700 and 400 */
    --font-inter: 'nter', sans-serif; 
    --font-lex: 'Lexend Deca', sans-serif;

    --font-size-lg: 1.6rem;
    --font-size-md: 0.93rem;
    --font-size-sm: 0.75rem;
    --font-responsive-lg: min(1.8rem, max(var(--font-size-lg),7vw));

    --font-color-title: hsl(0, 0%, 100%);
    --font-color-text:hsla(0, 0%, 100%, 0.75);
    --font-color-stats-title:hsla(0, 0%, 100%, 0.6);

    --overlay: rgba(85, 0, 137, 0.615);

    --border-radius: 0.6rem;
}

* {
    box-sizing: border-box;
}

body,
p,
h1,
ol {
    margin: 0;
    padding: 0; 
}


body { 
    background-color: var(--main-bg);
    font-family: var(--font-inter);
    font-weight: 400;
    color: var(--font-color-text);
    font-size: var(--font-size-md);
}


.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: min(20rem, 100%);
    background-color: var(--card-bg);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}
.card-img-wrapper {
    position: relative;

}

.card-image-mobile {
    width: 100%;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.card-image-overlay {
    position: absolute;
    background-image: linear-gradient(var(--overlay),var(--overlay));
    inset: 0;
    bottom: 3px;
    
}

.card-body {
    padding-inline: var(--padding-responsive-md);
}

.card-title {
    margin-top: var(--margin-responsive-md);
    color: var(--font-color-title);
    text-align: center;
    font-size: var(--font-size-lg);
    font-family: var(--font-lex);
    font-weight: 400;
}

.card-title span {
    color: var(--accent)
}

.card-text {
    margin-top: calc(var(--margin-responsive-md) - 0.9rem);
    text-align: center;
    line-height: 1.5rem;
}

.card-stats {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
    padding-block: var(--padding-responsive-md);
}

.card-stats li :nth-child(1) {
    font-size: var(--font-size-lg);
    color: var(--font-color-title);
    font-family: var(--font-lex);
    font-weight: 400;
}
.card-stats li :nth-child(2) {
    text-transform: uppercase;
    font-size: var(--font-size-sm);
    color: var(--font-color-stats-title);
    font-family: var(--font-lex);
    font-weight: 400;

}

.card-stats :last-child :first-child {
    text-transform: uppercase;
}

@media (min-width: 600px) {
    .card {
        display: flex;
        width: max(1080px, 60vw);
        /* max-width: 1080px; */
    }
    .card-img-wrapper {
        order: 2;
        flex-shrink: 0;
    }
    .card-body {
        flex: 1;
        min-width: 362px;
        padding-top: 1vh;
        padding-right: 6vw;
        padding-left: 5vw;
    }
    .card-image-overlay {
        bottom: 0px;
    }
    .card-image-desktop {
        display: initial;
        width: 100%;
        height: 100%;
    }
    .card-image-mobile {
        display: none;
    }

    .card-title {
        font-size: calc(var(--font-size-lg) + 0.5rem);
    }
    .card-title,
    .card-text {
        text-align: left;
    }

    .card-stats {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 5vw;
    }

    .card-image-desktop,
    .card-image-overlay,
    .card-img-wrapper,
    .card {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    }

    .card {
    border-top-left-radius: var(--border-radius);
    }
}